<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> Creacion de cuenta </title>
    <link 
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='style.css')}}"
    />
  </head>
<body>
  <div class="container">
    <div class="title">Registro</div>
    <form action="#">
      <div class="detalles-usuario">
        <div class="input-box">
          <span class="details">Nombre</span>
          <input type="text" placeholder="Ingresa tu nombre" required>
        </div>
        <div class="input-box">
          <span class="details">Nombre</span>
          <input type="text" placeholder="Ingresa tu email" required>
        </div>
        <div class="input-box">
          <span class="details">Nombre</span>
          <input type="text" placeholder="Ingresa tu Usuario" required>
        </div>
        <div class="input-box">
          <span class="details">Nombre</span>
          <input type="text" placeholder="Ingresa tu contrasenia" required>
        </div>
        <div class="input-box">
          <span class="details">Nombre</span>
          <input type="text" placeholder="Confirma tu contrasenia" required>
        </div>
      </div>
    </form>
  </div>











  </html>

