<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> Creacion de cuenta </title>
    <link 
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='style.css')}}"
    />
  </head>
<body>
  <div class="container"> 
    <div class="title"><h2>Registro</h2></div>
    <br>
    <form action="#">
      <div class="detalles-usuario">
        <div class="input-box">
          <span class="details">Número de serie:</span>
          <input type="text" placeholder="Ingrese el número de serie" required>
        </div>
        <br>
        <div class="input-box">
          <span class="details">Nombre:  </span>
          <input type="text" placeholder="Ingrese su nombre" required>
        </div>
        <br>
        <div class="input-box">
          <span class="details">Correo:</span>
          <input type="text" placeholder="Ingrese su correo" required>
        </div>
        <br>
        <div class="input-box">
          <span class="details">Contraseña:</span>
          <input type="text" placeholder="Ingrese su contraseña" required>
        </div>
        <br>
        <div class="input-box">
          <span class="details">Confirme su contraseña:</span>
          <input type="text" placeholder="Confirme su contraseña" required>
        </div>
<br><br>
        <div>
          <button><a href="/">Regresar</a></button>
        </div>
      </div>
    </form>
  </div>











  </html>

