<!DOCTYPE html>
<html>
  <head>
    <title>Kestagua</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="head2">
      <div class="titulo1">Kestagua</div>
      <div class="usua">
        <ul class="lista">
          <li class="ini"><a href="/login">Iniciar sesión</a></li>
          <li class="reg"><a href="/crear-cuenta">Registro</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="minicon">
        <h2>¡Bienvenido Usuario!</h2>
        <p></p>
      </div>
      <div class="minicon2">
        <h3>¿Quiénes somos?</h3>
      </div>
    </div>
  </body>
</html>
