<!DOCTYPE html>
<html>
  <head>
    <title>Kestagua</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
        <h1>Welcome to Kestagua</h1>
        <u1 class="nav.menu">
            <li><a href="/create-account">Crear una cuenta</a></li>
            <li><a href="/login">Iniciar Sesion</a><li>
            <li><a href="/contact">Contacto</a><li>
            </ul>

    
    
    </div>
  </body>
</html>
