body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 40px;
    background-color: #add8e6;
    border-radius: 8px solid #ff4500;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1{
    color: #333;
}

p{
    font-size: 1.2em;
    color: #666;
}